$blue: #0072BC;
$yellow: #fefe8a;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

::selection { 
  background: $yellow;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $blue;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  h1 {
    font-size: 2.5em;
  }
  p, h1, h2, h3, h4 {
    color: white;
  }
  .yellow {
    color: $yellow;
  }
}

.btn, button {
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  min-width: 30px;
  outline: none;
}

.btn:hover, button:hover { 
  color: $yellow;
  border: 1px solid $yellow;
}

.small {
  color: white;
  border: none;
  text-decoration: none;
  min-width: 30px;
}

.small:hover {
  color: $yellow;
  border: none;
}

#logo {
  width: 200px;
}

#icon {
  width: 75px;
}

.spread {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 75vh;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 250px;
}

input {
  font-size: 10pt;
  width: 250px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  background-color: transparent;
  border: 1px solid white;
  color: $yellow;
}

input:focus { 
  border: 1px solid $yellow;
  text-decoration: none;  
  box-shadow: none;
  outline: none;
}

.horizontal-spread {
  display: flex;
  // flex-direction: row;
  // align-items: center;
  justify-content: space-around;
  width: 100vw;
}