$bg-color: #fefe8a;
$black: #282828;
$orange: #FF6138;
$lightorange: #FF613875;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

::selection { 
  background: $lightorange;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $bg-color;
  h1 {
    color: $black;
    font-size: 2.5em;
  }
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.btn, button {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 10px;
  min-width: 30px;
  outline: none;
}

.btn:hover, button:hover { 
  color: $orange;
  border: 1px solid $orange;
}

#logo {
  width: 200px;
}

.spread {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 75vh;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 250px;
}

#username, #password {
  font-size: 10pt;
  width: 250px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  background-color: transparent;
  border: 1px solid blue;
}

#username:focus, #password:focus { 
  border: 1px solid $orange;
  text-decoration: none;  
  box-shadow: none;
  outline: none;
}

